html, body {
  font-family: 'Open Sans';
}

.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.pagination {
}

.pagination button {
  margin-left: 0.5rem;

}
.btn-selected{
  background-color: #00000085;
}

.results {
  margin-top: 1rem;
}
